@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
  html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

:root {
    --corprincipal:  #000000;
    --corsecundaria:  #ffffff;
    --corauxiliarum : #e6e6e6 ;
    --corauxiliardois :  #e10613;
    --corauxiliartres :  #1d1d1d;
    --fontauxiliar: "manrope", sans-serif;
}

/*portifolio*/

#descricaoprojeto {
    color: var(--corsecundaria);
    font-family: var(--fontauxiliar);
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#tituloprojeto {
    text-align: center;
    font-family: var(--fontauxiliar);
    color: var(--corsecundaria);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 1.9em;
}

/*portifolio*/

.paiheader {
    display: flex;
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha verticalmente */
}
.filhoheader {
    justify-content: end;
}
header {
    background-color: var(--corauxiliarum);
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

header > nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10vw;
}

header > nav > a {
    color: var(--corprincipal);
    text-decoration: none;
    font-family: var(--fontauxiliar);
    font-size: larger;
    font-weight: bold;
    margin: 20px;
    margin-right: 2vw;
}

.logohome {
    width: 220px; /* Aumente aqui conforme necessário */
    height: auto; /* Mantém a proporção */
    margin-left: 10vw;
    width: 20%;
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

a:hover {
   border-bottom: 2px solid var(--corprincipal);
}

header > nav > div {
    margin-left: auto; /* Garante que os links fiquem à direita */
    display: flex;
    align-items: center;
}


header > nav > h1 {
    display: inline-block;
}

body {
    background-color: var(--corauxiliarum);
}
.paianuncio {
    width: 100vw;
    display: flex;
    justify-content: center; /* Centraliza os itens no eixo principal (horizontal) */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    background-color: var(--corauxiliarum);
}
.anuncio {
    flex: 0 0 auto;
    width: 80vw;
    height: 550px;
    margin-bottom: 100px;
    background-color: var(--corauxiliarum);
    font-family: var(--fontauxiliar);
    background-color: rgb(226, 43, 43);
}
.portifolio {
    color: var(--corprincipal);
    font-family: var(--fontauxiliar);
    font-weight: 800;
    font-size: 3em;
    margin: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.paipaiprojeto {
    width: 100vw;
    margin-bottom: 100px;
}
.paiprojeto {
  margin: 0 auto;
  display: flex;
  width: 80vw;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: space-between;

}

.projeto {
    width: 395px;
    height: 537px;
    margin-bottom: 20px;
}


/* SINOPSE */
.paipaisinopse {
    width: 100vw;
    background-color:var(--corauxiliarum);
    margin-bottom: 100px;
}
.paisinopse {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80vw;
    display: flex;
    justify-content: space-between; /*Deixa os intens no canto da tela */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    background-color: var(--corauxiliarum);
  }

.filhosinopse {
flex: 0 0 auto;
width: 550px;
height: 700px;
padding: 30px;
margin-bottom: 30px;
background-color: var(--corauxiliarum);
font-family: var(--fontauxiliar);
line-height: 28px;

}

#fotominha {
    background-size: cover;
    background-image: url(../imagens/sinopse/minhafoto.jpeg);

}

#mesadigi {
    background-size: cover;
    background-image: url(../imagens/sinopse/caneta-pequena.png);
}

#precisaprojeto {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
}


#falesinopse {
    color: var(--corsecundaria);
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 5px 20px;
    border: 2px solid var(--corsecundaria);
    transition: background-color 0.4s ease;
}

#falesinopse:hover {
    
    color: var(--corprincipal);
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: var(--corsecundaria);
}

p {
    margin-top: 10px;
    line-height: normal;
}

h2 {
    font-weight: 700;
    font-size: 1.7em;
}

/*RODAPE*/

.pairodape {
    background-color: var(--corprincipal);
    padding: 20px 0;
}

.filhorodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.textodiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.redesdiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filhorodape a {
    color: var(--corsecundaria);
    font-family: var(--fontauxiliar);
    text-decoration: none;
}

.filhorodape p {
    color: var(--corsecundaria);
    font-family: var(--fontauxiliar);
}

.iconerodape {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.logofooter #ilogofooter{
    width: 90px;
    height: auto;
}
