@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --corprincipal:  #000000;
    --corsecundaria:  #ffffff;
    --corauxiliarum : #e6e6e6;
    --corauxiliardois : #e10613;
    --corauxiliartres : #1d1d1d;
    --fontauxiliar: "manrope", sans-serif;
    --fontprincipal: 'Clash Display', sans-serif;
}

/* PORTFÓLIO */

#descricaoprojeto {
    color: var(--corsecundaria);
    font-family: var(--fontauxiliar);
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#tituloprojeto {
    text-align: center;
    font-family: var(--fontauxiliar);
    color: var(--corsecundaria);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 1.9em;
}

/* HEADER */

.paiheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filhoheader {
    justify-content: end;
}

header {
    background-color: var(--corauxiliarum);
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

header > nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10vw;
}

header > nav > a {
    color: var(--corprincipal);
    text-decoration: none;
    font-family: var(--fontauxiliar);
    font-size: larger;
    font-weight: bold;
    margin: 20px;
    margin-right: 2vw;
}

.logohome {
    width: 20%;
    max-width: 300px;
    height: auto;
    margin-left: 10vw;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

a:hover {
   border-bottom: 2px solid var(--corprincipal);
}

header > nav > div {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header > nav > h1 {
    display: inline-block;
}

body {
    background-color: var(--corauxiliarum);
}

/* ========== ABERTURA ========== */

.abertura {
    width: 80vw;
    display: flex;
    justify-content: center;
    background-color: var(--corauxiliarum);
    padding: 100px;
    margin: 0 auto;

}

.abertura h3 {
    font-weight: 900;
    font-family: var(--fontauxiliar);
    color: var(--corprincipal);
}

.abertura .paianuncio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

.anuncio {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}

.tituloanuncio {
    font-size: 2.5rem;
    font-family: var(--fontprincipal);
    margin-bottom: 1rem;
    color: var(--corprincipal);
    font-weight: 600;
}

.textoanuncio {
    color: var(--corprincipal);
    font-size: 1.2rem;
    font-family: var(--fontauxiliar);
    line-height: 1.6;
}

/* ========== SOBRE ========== */

.sobre {
    width: 100vw;
    background-color: var(--corauxiliarum);
    margin-bottom: 100px;
}

.sobre .paisinopse {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--corauxiliarum);
}

.filhosinopse {
    margin: 20px;
    flex: 0 0 auto;
    width: 550px;
    height: 700px;
    padding: 30px;
    margin-bottom: 30px;
    font-family: var(--fontauxiliar);
    line-height: 28px;
}

#frase {
    background-color: var(--corprincipal);
}

#frase h2 {
    font-size: 2em;
    line-height: 1.2em;
    color: var(--corsecundaria);
}

#frase p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: var(--corsecundaria);
}

.biografia {
  flex-wrap: wrap;
  display: flex;
  margin: 10vw;
}
#fotominha {
    background-size: cover;
    background-image: url(../imagens/sinopse/minhafoto.jpeg);
    width: 500px;
    height: 500px;
}


#precisaprojeto {
    color: var(--corprincipal);
    width: 500px;
    height: auto;
}

#precisaprojeto h2 {
    font-size: 2em;
}

#precisaprojeto p {
    margin-top: 20px;
    font-size: 1.2em;
}

#falesinopse {
    color: var(--corsecundaria);
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 5px 20px;
    border: 2px solid var(--corsecundaria);
    transition: background-color 0.4s ease;
    border-radius: 20px;
    display: inline-block;
}

#falesinopse:hover {
    color: var(--corprincipal);
    background-color: var(--corsecundaria);
    text-decoration: none;
}

/* ========== PROCESSO CRIATIVO ========== */

.processo-criativo {
    width: 70vw;;
    margin: 80px auto;
    padding: 60px 20px;
    font-family: var(--fontauxiliar);
}

.etapa {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.icone {
    flex-shrink: 0;
    width: 300px;
    height: 400px;
    background-color: #e10613;
    border-radius: 20px;
}

.conteudo h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--corprincipal);
}

.conteudo p {
    margin: 5px 0;
    line-height: 1.6;
    color: var(--corprincipal);
}

/* PORTFÓLIO */

.portifolio {
    color: var(--corprincipal);
    font-family: var(--fontauxiliar);
    font-weight: 800;
    font-size: 3em;
    margin: 50px;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 120px;
}

/* RODAPÉ */

.pairodape {
    padding: 10px 0;
    height: 15vh;
}

.filhorodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.textodiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.2em;
}

.redesdiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.direitodiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.2em;
}

.filhorodape a {
    color: var(--corprincipal);
    font-family: var(--fontauxiliar);
    text-decoration: none;
}

.filhorodape p {
    color: var(--corprincipal);
    font-family: var(--fontauxiliar);
}

.iconerodape {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    color: var(--corprincipal);
}

.logofooter #ilogofooter {
    width: 220px;
    height: auto;
}
